.hero {
    padding: 100px 0;
    background-position: center; 
    background-size: cover;
    text-align: center;
    font-size: 150px;
}
.header{
    text-align: center;
}
body {
    background-color: aqua;
    
}
.items{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
}
p{
    text-align: center;
    font-size: 100px;
}

